@media(max-width:1400px){
    .social-section .nav {
    background-color: #f1fcff;
    border-bottom-right-radius: 36px;
    width: 89%;
}
.skill-section h1 {
    text-align: center;
    line-height: 0.9;
    font-size: 57px;
}
}


@media(max-width: 1199px){

    .banner .header h1 {
    font-size: 53px;
}
.banner .header p {
    font-size: 15px;
}
.btn-custom,.btn-custom-reverse {
    padding: 9px 18px;
    font-size: 15px;
}
.about-section .heading {
    margin-bottom: 46px;
    margin-top: -23px;
}
.about-section .heading {
    margin-bottom: 69px;
}
.about-section .heading h1 {
    line-height: 0.14;
    font-size: 42px;
}
.about-section .heading span {
    top: -61px;
    font-size: 69px;
}
.about-section p {
    width: 368px;
    font-size: 15px;
}
.skill-section h1 {
    text-align: center;
    line-height: 0.9;
    font-size: 57px;
}
.skill-section span {
    font-size: 89px;
    line-height: 1.1;
}
.skill span {
    font-size: 21px !important;
}
.resume-section h1 {
    font-size: 56px;
    line-height: 2.3;
}
.resume-section span {
    font-size: 90px;
}
.resume-contant span {
    font-size: 18px;
}
.project-img {
    background-size: 100% 100%;
}
.project-img h1 {
    padding: 71px 80px;
    font-size: 30px;
    font-weight: 400;
}
.project-img a {
    padding: 9px 18px;
    font-weight: 500;
    margin-top: -126px;
}
.embed-responsive {
    height: 325px;
}
.form-btn-custom {
    margin-left: 281px;
}
.social-section .custom {
    font-size: 26px;
    margin-left: -26px;
    margin-top: 7px;
    margin-left: -39px;
}
}

@media(max-width: 991px){
    .navbar .nav-item{
    text-transform: uppercase;
    font-weight: 400;
    }

.navbar .navbar-nav .nav-link {
    margin-top: -30px;
    display: inline-block;
    float: right;
}
.navbar .navbar-nav .nav-link:hover {
    color: #40afcc;
}
.navbar .navbar-nav .nav-link::after{
    content:none;

}
.navbar .navbar-nav .nav-link:hover::after,
.navbar .navbar-nav .nav-link:hover::before{
  content: none;
  }
     .banner .header h1 {
        font-size: 51px;
}
.banner .header p {
    font-size: 14px;
}
.btn-custom,.btn-custom-reverse{
    padding: 8px 16px;
    font-size: 14px;
}
.about-section .heading {
    margin-bottom: 48px;
    margin-top: 0px;
}
.about-section .heading h1 {
    line-height: 0.14;
    font-size: 35px;
}
.about-section .heading span {
    top: -43px;
    font-size: 50px;
}
.about-section p {
    width: 270px;
    font-size: 13px;
}
.skill-section .heading {
    padding-bottom: 0px;
}
.skill-section span {
    font-size: 67px;
        line-height: 1.2;
}
.skill-section h1 {
    font-size: 41px;
}
.resume-section h1 {
    font-size: 44px;
    line-height: 2;
}
.resume-section span {
    font-size: 67px;
}
.resume-contant span {
    font-size: 18px;
}
.resume-section h5 {
    margin-top: 24px;
}
.work-section h1 {
    font-size: 44px;
    line-height: 2;
}
.work-section span {
    font-size: 67px;
}
.project-img {
    background-size: 100% 100%;
}
.project-img h1 {
    padding: 60px 80px;
    font-size: 18px;
    font-weight: 400;
}
.project-img a {
    padding: 9px 18px;
    font-size: 12px;
    margin-top: -102px;
}
.contact-section h1 {
    font-size: 44px;
    line-height: 2.1;
}
.contact-section span {
    font-size: 67px;
}
.drawer {
    width: 100%;
}
.form-btn-custom {
    font-size: 10px;
    margin-left: 204px;
}
.social-section li {
    padding: 16px 0;
    padding-left: 28px;
}
.social-section i {
    font-size: 29px;
}
.social-section .custom {
    font-size: 18px;
    margin-left: -3px;
    margin-top: 0px;
}
}

@media(max-width: 767px){
   .banner .header h1 {
        font-size: 49px;
}
.banner .header p {
    font-size: 13px;
}
.btn-custom,.btn-custom-reverse{
    padding: 7px 14px;
    font-size: 13px;
}
.list-unstyled {
display: none;
}
.about-section .row{
    justify-content: center;
}
.about-section .heading {
    margin-bottom: 65px;
    margin-top: 11px;
}
.about-section .heading h1 {
    font-size: 54px;
        line-height: 1.4;
}
.about-section .heading span {
    font-size: 91px;
    width: 100%;
}
.about-section p {
    width: 507px;
    font-size: 17px;
}
.skill-section h1 {
    font-size: 33px;
}
.skill-section span {
    font-size: 49px;
    line-height: 1.4;
}
.resume-section h1 {
    font-size: 30px;
    line-height: 1.9;
}
.resume-section span {
    font-size: 49px;
}
.resume-contant span {
    font-size: 18px;
}
.resume-contant p {
    margin-top: 20px;
    margin-bottom: 0px;
}
.work-section h1 {
    font-size: 30px;
    line-height: 1.9;
}
.work-section span {
    font-size: 49px;
}
.work-section li {
    font-size: 18px;
}
.project-img a {
    padding: 6px 12px;
    font-size: 8px;
    margin-top: -72px;
}
.project-img h1 {
    padding: 44px 24px;
    font-size: 13px;
    font-weight: 600;
}
.contact-section h1 {
    font-size: 30px;
    line-height: 1.9;
}
.contact-section span {
    font-size: 49px;
}
.social-section .custom {
    font-size: 15px;
    margin-left: -19px;
    margin-top: 3px;
}
}

@media(max-width: 575px){
	.banner .row {
    height: 87vh;
}
       .banner .header h1 {
        font-size: 37px;
}
.banner .header p {
    font-size: 12px;
    max-width: 265px;
}
.btn-custom,.btn-custom-reverse{
    padding: 6px 12px;
    font-size: 12px;
}
.list-unstyled {
display: none;
}
.about-section .heading h1 {
    font-size: 40px;
    line-height: .9;
}
.about-section .heading span {
    font-size: 68px;
}
.about-section p {
    width: 369px;
    margin: auto;
}
.skill-section {
    margin-top: 50px;
}
header {
    font-size: 18px;
    margin-top: -30px;
}
.skill-section h1 {
    font-size: 24px;
}
.skill-section span {
    font-size: 36px;
    line-height: 1.6;
}
header {
    font-size: 18px;
}
.resume-section {
    padding: 45px 0;
}
.resume-section .heading {
    margin-bottom: 50px;
}
.resume-section h1 {
    font-size: 22px;
}
.resume-contant h2 {
    font-size: 19px;
    margin: 12px 0;
}
.resume-section span {
    font-size: 36px;
    line-height: 2.2;
}
.resume-contant p {
    font-size: 13px;
    width: 320px;
    margin-top: 9px;
}
.resume-contant span {
    padding: 2px 3px;
    font-size: 12px;
}
.work-section h1 {
    font-size: 23px;
}
.work-section .heading {
    margin-bottom: 52px;
}
.work-section span {
    font-size: 36px;
    line-height: 2.3;
}
.work-section li {
    font-size: 9px;
}
.work-section a{
    padding: 3px 17px;

    font-size: 12px;

}
.work-section a:hover{
    padding: 3px 17px;
}
.project-section {
    margin-top: 60px;
    margin-bottom: 60px;
}
.project-img a {
    padding: 6px 12px;
    font-size: 8px;
    margin-top: -72px;
}
.project-img h1 {
    padding: 44px 24px;
    font-size: 13px;
    font-weight: 600;
}
.contact-section .heading {
    margin-bottom: 34px;
}
.contact-section h1 {
    font-size: 31px;
    line-height: 1;
}
.contact-section span {
    display: none;
}
.form-btn-custom {
    font-size: 11px;
    margin-left: 0px;
    margin-bottom: 8px;
}
.social-section {
    margin-top: 60px;
}
.social-section .custom {
    display: none;
}
.social-section .nav {
    width: 108px;
}
.social-section li {
    padding-left: 39px;
}
.work-section a:hover, .work-section .active {
    padding: 3px 17px;}
    footer {
    background-color: #40afcc;
    margin-top: 60px;
}
}

@media(max-width: 420px){
  .banner .header h1 {
    font-size: 18px;
}
.banner .header p {
    font-size: 10px;
    max-width: 234px;
}
.btn-custom, .btn-custom-reverse {
    padding: 7px 14px;
    font-size: 11px;
}
.list-unstyled {
display: none;
}
.about-section {
    margin-top: 50px;
}

.about-section .heading {
    margin-bottom: 19px;
    margin-top: 19px;
}
.about-section .heading h1 {
    font-size: 29px;
}
.about-section .heading span {
    font-size: 33px;
    margin-top: 22px;
}
.about-section p {
    max-width: 165px;
    font-size: 12px;
    margin: auto;
}
.skill-section {
    margin-top: 50px;
}
.skill-section span {
    display: none;
}
.skill-section h1 {
    font-size: 39px;
}
header {
    font-size: 11px;
    margin-top: -32px;
}
.skill img {
    width: 50px;
}
.skill {
    min-height: 107px;
    line-height: 121.5px;
}
.php img {
    min-width: 61px;
}
.resume-section {
    padding: 6px 0;
}
.resume-section .heading {
    margin-bottom: -5px;
}
.resume-section h1 {
    font-size: 31px;
}
span {
    display: none;
}
.resume-contant h2 {
    font-size: 9px;
}
.resume-contant span {
    padding: 0px 2px;
    font-size: 10px;
}
.resume-contant h2 {
    font-size: 11px;
    margin: 10px 0;
}
.resume-contant h3 {
    font-size: 10px;
    margin-bottom: -1px;
}
.resume-contant p {
    font-size: 9px;
    width: 203px;
    margin-top: 10px;
}
/*.resume-box:hover::after{

    display: none;
}
.resume-box:hover .resume-contant {
    display: none;
}*/
.work-section span {
   display: none;
}
.work-section .heading {
    margin-bottom: 52px;
}
.work-section h1 {
    font-size: 31px;
    margin-bottom: -36px;
}
.work-section li {
    font-size: 7px;
}
.work-section a:hover, .work-section .active,.work-section a {
     border: none; 
     padding: 5px; 
}
.project-section {
    margin-top: 50px;
    margin-bottom: 50px;
}
.project-img {
    background-size: 100% 100%;
    border-bottom-right-radius: 39px;
}
.project-img h1 {
    padding: 34px 17px;
    font-size: 7px;
}
.project-img a {
    padding: 2px 5px;
    font-size: 5px;
    margin-top: -48px;
}
.contact-section h1 {
    font-size: 24px;
    line-height: 1;
}
.contact-section .heading {
    margin-bottom: 25px;
}
.form-btn-custom {
    font-size: 7px;
     margin-left: 0; 
}
.social-section {
    margin-top: 37px;
}
.social-section .nav {
    background-color: transparent;
    width: 100%;
}
.social-section li {
    padding-left: 0px;
    margin: auto;
}
footer {
    margin-top: 24px;
}
footer h6 {
    font-size: 10px;
}
}



