.navbar {
  
    justify-content: space-between;
     padding-top: 0px
}
.navbar img{}
.navbar .nav-item{
    text-transform: uppercase;
    font-weight: 400;
    }

.navbar .navbar-nav .nav-link{
    position: relative;
    padding-top: 30px;
}
.navbar .navbar-nav .nav-link::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    background-color: #6bc1d7;
    transition: all 0.4s;
}
.navbar .navbar-nav .nav-link:hover::after{
    height: 5PX;
}
.navbar-dark .navbar-nav .nav-link::before{
    content: "";
    position: absolute;
    height: 0;
    width: 100%;
    z-index: -1;
    top:0;
    left: 0;
    background-color: #6bc1d778;
    transition: all 0.4s;
}
.navbar-dark .navbar-nav .nav-link:hover::before{
height: 100%;
}

.social-icon{
    position: absolute;
    right: 0;
    top: 40%;
}
.social-icon li{
   
margin: 10px;
   
position: relative;
   
margin-right: 90px;
}
.social-icon li a:hover{
    background-color: #6bc1d7;
    color: #fff;
}
.social-icon li a{
    background-color: whitesmoke;
    width: 22px;
    height: 22px;
    display: block;
    border-radius: 50%;
    text-align: center;
    line-height: 22px;
    color: #808688;
}
.social-icon  span{
     position: absolute;
     transform: rotate(-90deg);
     width: 100px;
     color: #fff;
     bottom: -52px;
     left: -40px;
}
.banner{
    background-image: url(../images/banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
.banner .row{
    height: 110vh;
}
.banner .header{
    text-align: center;
}
.banner .header h1{
    color: #40afcc;
    font-weight: 700;
    text-align: center;
    font-size: 55px;
}
.banner .header span{
    color: #fff;
    font-weight: 400;
}
.banner .header p{
    color: #cecece;
    width: 393px;
    text-align: center;
    margin: 0 auto;
}
.btn-custom{
    margin-top: 47px;
    background-color: #40afcc;
    text-transform: uppercase;
    margin-right: 10px;
    border-color: #6bc1d7;
    border-bottom-left-radius: 20px;
    color: #FFF;
    padding: 10px 20px;
    transition: 0.4s;
    font-weight: 600;
}
.btn a{}
.btn-custom:hover{
    background-color: transparent;
    color: #fff;
}
.btn-custom-reverse{
    margin-top: 47px;
    background-color: transparent;
    text-transform: uppercase;
    margin-right: 10px;
    border-color: #6bc1d7;
    border-bottom-right-radius: 20px;
    color: #fff;
    padding: 10px 20px;
    transition: 0.4s;
    font-weight: 600;
}
.btn-custom-reverse:hover{
    background-color: #40afcc;
    color: #fff;
}
.about-section{
    margin-top: 100px;
}
.about-section .row{}
.about-section .heading{
    margin-bottom: 34px;
}
.about-section .heading h1{
    line-height: 1;
}
.about-section .heading span{
    top: -35px;
}
.heading{
    position: relative;
    text-align: center;
    margin-bottom: 31px;
}    
.heading h1{
    text-transform: uppercase;
    font-size: 44px;
    color: #40afcc;
    font-weight: 700;
    line-height: 3;
    z-index: -1;
}
.heading span{
    text-transform: uppercase;
    position: absolute;
    top: -15px;
    left: 0;
    font-size: 4em;
    font-weight: 700;
    color: #c7c7c747;
    z-index: -1;
    line-height: 2;
}
.container-custom{
    width: 1000px;
    margin: 0 auto;
}

.about-section {}
.about-section p{
    text-align: justify;
    color: #242424;
}
.skill-section{margin-top: 100px;}
.skill-section .row{
    text-align: center;
    margin-bottom: 30px;
}
.skill{
    padding: 13px 0;
    text-align: center;
    position: relative;
    min-height: 144px;
    line-height: 136.5px;
}
.skill::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 50%;
    left: 0;
    bottom: 0;
    opacity: 0;
    transition: 0.4s;
}
.skill:hover::after{
    height: 100%;
    opacity: 1;
}
.dark::after{
   
background-color: #2f3333b5;
}
header{
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    /* padding: 50px 0; */
    color: #33A9DC;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 20px;
}
.skill-section .heading{
    padding-bottom: 40px;
}
.skill-section h1{
    text-align: center;
    line-height: 1;
    font-size: 57px;
}
.skill-section span{
    text-align: center;
    margin: auto;
    width: 100%;
    font-size: 93px;
    line-height: 1.1;
}
.skill p{
    position: absolute;
    bottom: 12%;
    left: 50%;
    transform: translate(-50%, 12%);
    color: #fff;
    opacity: 0;
    transition: 0.6s;
    z-index: 1;
    line-height: 1.6;
    font-weight: 500;
    font-size: 13px;
}
.skill:hover p{bottom: 25%;opacity: 1;}

.html p{}
.skill img{
    max-width: 92px;
}
.html{
    background-color: #f1662a;
}
.css{
    background-color: #33a9dc;
}
.js{
    background-color: #323330;
  
}
.bootstrap{
    background-color: #F44336;
    
}
.yellow p{
  color: #000;  
}
.yellow::after{
    background-color: #ffeb3bcc;
}
.php{
    background-color: #323330;
    
}
.php img{min-width: 146px;}
.phyton{
    background-color: #222531;
    
}
.database{
    background-color: #f0db4f3b;
    
}
.data{
    background-color: #40AFCC;
   
}
.seo{
    background-color: #3edca7;
}
.skill span{
    color: #fff;
    position: absolute;
    bottom: 8px;
    left: 0;
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
}
.campaogns{
    background-color: #B83B5E;
    
}
.social{
    background-color: #3D5DB2;
   
}
.grapic{
    background-color: #39065A;
    
}
.pink::after{
    background-color: #9d4ed0d1;
}
.pink p{
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
}

.resume-section{

    padding: 100px 0;
}
.resume-section .row{
width: 100%;
margin: auto;
}
.resume-items{}
.resume-section .heading{
    margin-bottom: 100px;
}
.resume-section .col-xl-6{
  /* margin-right: -63px; */
}
.resume-section h1{
    font-size: 58px;
    line-height: 2.4;
}
.resume-section span{
    width: 100%;
    margin: auto;
    font-size: 92px;
}
.resume-section h5{
    text-transform: uppercase;
    font-weight: 600;
    color: #aaaaaa;
    margin-bottom: 45px;
}
.resume-box{
    position: relative;
    padding-left:32px;
}
.resume-box::before{
    content: "";
    content: "";
    width: 2px;
    height: 100%;
    background: #6bc1d7;
    top: 0;
    left: 0;
    position: absolute;
    transition: 0.4s;
}
.resume-box::after{
    content: "";
    width: 20px;
    height: 20px;
    background: #40afcc;
    top: 0;
    left: -9px;
    position: absolute;
    border-radius: 50%;
    border: 2px solid transparent;
    transition: 0.4s;
}
.resume-box:hover::after{
    background-color: #fff;
    border: 2px solid #40afcc;
    box-shadow: 0 0 9px #40afcc;
}
.resume-contant{
    color: #242424;
    transition: 0.4s;
    padding: 32px 0;
    padding-top: 0px;
}
.resume-contant span{
    border: 1px solid #242424;
    padding: 3px 4px;
    font-size: 18px;
    border-bottom-right-radius: 18px;
    display: table-cell;
}
.resume-contant h2{
    font-size: 19px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 18px 0;
}
.resume-contant h3{
    font-size: 16px;
    font-weight: 500;
}
.resume-contant p{
    font-size: 14px;
    width: 389px;
    margin-top: 32px;
    margin-bottom: 0px;
}
.resume-box:hover .resume-contant{
    background-image: url(../images/shape.png);
    padding: 32px;
    padding-top: 0px;
    background-repeat: no-repeat;
    background-size: contain;
}

.work-section{}
.work-section .heading{
    margin-bottom: 90px;
}
.work-section h1{
    font-size: 58px;
    line-height: 2.4;
}
.work-section a{}
.work-section span{
    width: 100%;
    margin: auto;
    font-size: 92px;
}
.work-section .nav{
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 25px;
}
.work-section li{
    text-transform: uppercase;
    /* margin: 0 17px; */
    font-size: 20px;
    color: #505050;
    /* padding: 3px 21px; */
    border: 1px solid transparent;
}
.work-section a:hover,.work-section .active{
    border: 1px solid #40afcc;
    padding: 3px 21px;
    border-bottom-right-radius: 22px;
    color: #40afcc;
}
.work-section a{
    color: #505050;
    text-decoration: none;
    padding: 3px 21px;
    border: 1px solid transparent;
}
.work-section .portfolio{}
.work-section .portfolio div{
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-bottom:10px !important;
    padding-top: 10px !important;
}
.work-section img{
    max-width: 100%;
}
.work-section img:hover{
    opacity: 0.7;
}

.project-section{
    margin-top: 100px;
    margin-bottom: 100px;
}
.project-img{
    background-image: url(../images/footer.png);
    background-size: cover;
    background-repeat: no-repeat;
    /* height: 100%; */
}
.project-img .row{
}
.project-img h1{
    padding: 71px 80px;
    font-size: 31px;
    color: #fff;
    margin-bottom: 0px;
    font-weight: 400;
}
.project-img a{
    background-color: #fff;
    text-transform: uppercase;
    margin-right: 45px;
    border-color: #6bc1d7;
    border-bottom-right-radius: 25px;
    color: #6bc1d7;
    padding: 10px 20px;
    transition: 0.4s;
    font-weight: 600;
    display: inline-block;
    float: right;
}
.project-btn-custom:hover{
    text-decoration: none;
    background-color: #195767;
    color: #fff;
}

.contact-section{}
.contact-section .heading{
    margin-bottom: 60px;
}
.contact-section h1{
    font-size: 58px;
    line-height: 2.4;
}
.contact-section span{
    width: 100%;
    margin: auto;
    font-size: 92px;
}

.contact-section .form-control{
    border-radius: 0;
    border-color: #40afcc;
    background-color: #fafafa;
}
input{
}
.form-group {
    /* margin-bottom: 2.2rem; */
}
.form-btn-custom{
    background-color: #40afcc;
    text-transform: uppercase;
    /* margin-right: 10px; */
    border-color: #6bc1d7;
    border-bottom-right-radius: 20px;
    color: #FFF;
    padding: 10px 25px;
    transition: 0.4s;
    font-weight: 600;
    margin-left: 370px;
    /* float: right; */
}
.form-btn-custom:hover{
    background-color: #186477;
    color: #fff;
}
.social-section{
    margin-top: 80px;
}
.social-section .nav{
    background-color: #f1fcff;
    border-bottom-right-radius: 36px;
}
.embed-responsive-16by9::before {
    padding-top: 53.25%;
}
.social-section li{padding: 20px 0;padding-left: 50px;}
.social-section a{
    transition: 0.4s;
}
.social-section .custom{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 33px;
    margin-left: -26px;
    margin-top: 7px;
    color: #40afcc;
    transition: 0.4s;

}
.social-section a:hover{
    text-decoration: none;
    transform: scale(1.5);
}
.social-section a:hover .custom{
    transform: scale(1.1);}
.social-section i{
    font-size: 61px;
    color: #40afcc;
        transition: 0.4s;
}
.social-section a:hover i{
    transform: scale(1.1);
}
footer{
    background-color: #40afcc;
    margin-top: 80px;
}
footer .row{
    width: 100%;
    text-align: center;
}
footer h6{
    padding: 20px 0;
    color: #fff;
    font-weight: 400;
}


.drawer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(60, 64, 67, 0.3);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}